body {
  background-color: #d5ffff;
}

header {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  color: darkgreen;
  font-size: 40px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  padding: 5px;
  font-family: Impact, Haettenschweiler;
}

h2 {
  color: darkgreen;
  font-size: 30px;
  padding: 5px;
  font-family: Arial, sans-serif;
}

.btn {
  border: 1px solid;
  color: #003300;
  background-color: cornsilk;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url("https://static01.nyt.com/images/2023/06/05/opinion/02Manjoo-1/02Manjoo-1-articleLarge.jpg?quality=75&auto=webp&disable=upscale");
}

li {
  float: left;
  font-family: Arial, Helvetica, sans-serif
}
li a:hover {
  background-color: Cornsilk;
}

p {
  padding: 10px 50px 10px 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h3 {
  color: darkgreen;
  font-size: 20px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

ol {
  margin: 35px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: bold;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkgreen;
  color: cornsilk;
  text-align: center;
}

.photo {
	 margin-bottom: 100px;
}

.cornsilk {
	 color: cornsilk;
}


.center {
  margin: auto;
  width: 25%;
  padding: 10px;
}

.canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.iframe {
    border: none;
}
